@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@StyleValue @Style">
    @if (CardHeader != null)
    {
        <div class="giz-card__header">
            @CardHeader
        </div>
    }
    @if (CardBody != null)
    {
        <div class="giz-card__body">
            @CardBody
        </div>
    }
    @if (CardFooter != null)
    {
        <div class="giz-card__footer">
            @CardFooter
        </div>
    }
</div>
