@namespace Gizmo.Web.Components
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<tr class="giz-data-grid-row-detail">
    @if (DetailTemplateCustomColumns)
    {
        @ChildContent
    }
    else
    {
        <td colspan="@Columns">
            <div class="giz-data-grid-row-detail-content">
                @ChildContent
            </div>
        </td>
    }
</tr>