@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     style="@Style"
     @onclick="OnClickDialogHandler">

    <div class="giz-dialog__content" Style="@DialogStyleValue">
        <div class="giz-dialog__content__header">
            <div class="giz-dialog__content__header__content">
                @DialogHeader
            </div>
            @if (ShowCloseButton)
            {
                <div class="giz-dialog__content__header__close-button">
                    <Button Size="ButtonSizes.Large" Variant="ButtonVariants.Text" LeftSVGIcon="Icons.Close" @onclick="OnClickButtonCloseHandler" />
                </div>
            }
        </div>
        <div class="giz-dialog__content__body">
            @DialogBody
        </div>
        <div class="giz-dialog__content__footer">
            @DialogFooter
        </div>
    </div>

</div>
