@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase
@using Microsoft.AspNetCore.Components.Forms

<div class="@ClassName">
    <label for="@Id" class="giz-file-input-real-input-label" />
    <InputFile id="@Id" OnChange="@OnInputFileChange" class="giz-file-input-real-input" />
    @ChildContent
</div>