@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

@typeparam TItemType

<div class="@Class @ClassName"
     @onclick="OnClickHandler"
     @onclick:stopPropagation="true"
     @ondblclick="OnDoubleClickEvent"
     @ondblclick:stopPropagation="true">

    <div class="giz-hierarchical-tree-view-item__body"
         @oncontextmenu:preventDefault="true"
         @oncontextmenu="ContextMenuHandler">
        <IconButton Variant="ButtonVariants.Text" SVGIcon="@(IsExpanded ? Icons.ArrowDown : Icons.ArrowRight)" Visibility="@(_hasSubItems ? Visibilities.Visible : Visibilities.Hidden)" @onclick="OnClickExpandButtonHandler" />
        <div class="giz-hierarchical-tree-view-item__content">
            @ChildContent
        </div>
    </div>

    @if (_hasSubItems)
    {
        <HierarchicalTreeView @ref="_hierarchicalTreeView" ItemSource="@_subItems" HierarchicalItemSource="@Parent?.HierarchicalItemSource" DataTemplate="@Parent?.DataTemplate" Class="giz-tree-view__nested" />
    }

</div>
