@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

@typeparam TValue

<div class="@ClassName"
     @ref="@Ref"
     @onclick="OnClickListItemHandler">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        @Text
    }
</div>