@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     @onclick="OnClickOverlayHandler"
     @onclick:stopPropagation="true"
     @oncontextmenu="OnContextMenuHandler"
     @oncontextmenu:preventDefault="true">

</div>

