@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName">
    @for (int i = 0; i < _percentValues.Count; i++)
    {
        var local_i = i;
        <div class="giz-stacked-bar" style="background-color: @Colors[local_i]; width: @(_percentValues[local_i].ToString(System.Globalization.CultureInfo.InvariantCulture))%;" role="progressbar">
            @if (ShowValues)
            {
                @Values[local_i].ToString()
            }
        </div>
    }
</div>
