@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName">
    <div class="giz-progress-bar__background" style="@BackgroundStyleValue"></div>
    <div class="giz-progress-bar__value-bar" style="@BarStyleValue" role="progressbar"></div>
</div>