@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<ul class="giz-simple-tab__header">
    @for (var i = 0; i < Items.Count; i++)
    {
        var local_i = i;
        <li class="giz-simple-tab__header-item">
            <a class="giz-simple-tab__header-link @(GetTabItemClass(local_i))"
               @onclick="@(() => OnClickEvent(local_i))">
                @Items[local_i].SimpleTabItemHeader
            </a>
        </li>
    }
</ul>