@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<CascadingValue Value="@this" IsFixed="true">

    <div class="@Class @ClassName"
         style="@Style"
         @ref="@Ref">

        @if (ContextMenu != null)
        {
            <Menu @ref="_contextMenu" IsContextMenu="true" OpenDirection="PopupOpenDirections.Cursor">
                @ContextMenu
            </Menu>
        }

        @ChildContent  
         
    </div>

</CascadingValue>