@namespace Gizmo.Web.Components
@inherits CustomDOMComponentBase

<div class="@Class @ClassName"
     @onclick="OnClickHandler"
     @onclick:stopPropagation="true"
     @ondblclick="OnDoubleClickEvent"
     @ondblclick:stopPropagation="true">

    <div class="giz-tree-view-item__body"
         @oncontextmenu:preventDefault="true"
         @oncontextmenu="ContextMenuHandler">
        <IconButton Variant="ButtonVariants.Text" SVGIcon="@(IsExpanded ? Icons.ArrowDown : Icons.ArrowRight)" Visibility="@(NestedTreeView != null ? Visibilities.Visible : Visibilities.Hidden)" @onclick="OnClickExpandButtonHandler" />
        <div class="giz-tree-view-item__content">
            @ChildContent
        </div>
    </div>

    @if (NestedTreeView != null)
    {
        <TreeView @ref="_treeView" Class="giz-tree-view__nested">
            @NestedTreeView
        </TreeView>
    }

</div>
