//=============== Pagination ================//

.giz-pagination {
    position: relative;
    display: flex;
    list-style-type: none;

    & li {
        cursor: pointer;

        &.disabled {
            pointer-events: none;
        }
    }
}
